@font-face
{
    font-family: 'Minecraft';
    src: url('/Minecraft.ttf');
    font-style: normal;
}

:root
{
    --white:#b8c2b9;
    --black:#382b26;
}

button
{
    color: var(--black);
    background-color: var(--white);
    font-family: Minecraft;
    font-size: 25px;
    margin: 10px;
    border-style: solid;
    border-color: var(--black);
    border-width: 5px;
    padding: 10px;
}

button:hover
{
    color: var(--white);
    background-color: var(--black);
    border-color: var(--white);
}

html, body
{
    background-color: var(--white);
    color: var(--black);
    font-family: Minecraft;
    font-size: 35px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

marquee
{
    color:var(--black)
}

.websiteContainer
{
    width: auto;
    height: 80vh;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;

    border-style: solid;
    border-width: 5px;
    overflow: hidden;
}

.HeaderButtons
{
    width: fit-content;
}   

.About_Text
{
    width: 500px;
    padding: 20px;
}

.Contacts_Text
{
    width: 500px;
    padding: 20px;
}

@media only screen and (max-width: 1219px)
{
    .HeaderButtons
    {
        width: fit-content;
        margin: auto;
    }   
    .websiteContainer
    {
        height: 90vh;
    }
    .About_Text
    {
        width: fit-content;
        margin: auto;
    }
    .Contacts_Text
    {
        display: none;
    }
    body
    {
        font-size: 50px;
    }
    button
    {
        font-size: 35px;
    }

}