@font-face
{
    font-family: 'Minecraft';
    src: url('Minecraft.ttf');
    font-style: normal;
}
:root
{
    --bg-color: rgb(187, 235, 206);
    --border-color: rgb(38, 132, 139);
    --border-size: 0.2vw;
    --title-color: rgb(128, 185, 168);
    --text-color: rgb(19, 78, 78);
    --hover-color: rgb(48, 37, 110);

    --rounded-amount: 0vw;
}
body 
{
    margin: 0;
    color: var(--text-color);
    font-family: Minecraft;
    background-image: url("balls.png");
    background-repeat: repeat;
    background-size: cover;
    image-rendering: pixelated;

    overflow-x: hidden;
    overflow-y: hidden;
}
h4
{
    font-size: 0.5vw;
    margin-right: 1.2vw;
    text-align: right;
}
.button
{
    color: var(--text-color);
    border: none;
    background: none;
    font-family: Minecraft;
    font-size: 1.2vw;
    padding-inline: 0.5vw;
    padding-block: 0.2vw;
}
.button:hover
{
    color:var(--hover-color);
}
.WindowsTitle
{
    border-top-left-radius: calc(var(--rounded-amount)/2);
    border-top-right-radius: calc(var(--rounded-amount)/2);
    background-color: var(--title-color);
    text-align: right;
    font-size: 1.2vw;
    border-bottom: var(--border-size) solid var(--border-color); 
    padding: 0.2vw;
    padding-top:0.3vw;
}
.WindowsBox
{
    position: absolute;
    width: fit-content;
    border-radius: var(--rounded-amount);
    border:var(--border-size) solid var(--border-color);
    background-color: var(--bg-color);
    min-height:20%
}
.WindowsContent
{
    font-size: 1.5vw;
    margin: 1.2vw;
}
