@font-face
{
    font-family: 'Minecraft';
    src: url('Minecraft.ttf');
    font-style: normal;
}
:root
{
    --bg-color: rgb(187, 235, 206);
    --border-color: rgb(47, 148, 97);
    --title-color: rgb(128, 185, 168);
    --text-color: rgb(19, 78, 78);

    --rounded-amount: 10px;
}
body 
{
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
    font-family: Minecraft;
    background-color: white;

    overflow-x: hidden;
    overflow-y: hidden;
}
h4
{
    font-size: 10px;
    text-align: right;
    margin-right: 10px;
}
.button
{
    color: var(--text-color);
    border: none;
    background: none;
    font-family: Minecraft;
    font-size: 20px;
}
.WindowsTitle
{
    border-top-left-radius: calc(var(--rounded-amount)/2);
    border-top-right-radius: calc(var(--rounded-amount)/2);
    background-color: var(--title-color);
    text-align: right;
    font-size: 20px;
    border-bottom: 3px solid var(--border-color); 
    padding: 5px;
}
.WindowsBox
{
    position: absolute;
    width: fit-content;
    border-radius: var(--rounded-amount);
    border:3px solid var(--border-color);
    background-color: var(--bg-color);
}
.WindowsContent
{
    font-size: 30px;
    margin: 20px
}
